## 1) Problem Statement

- This project is revealing that student's test result can be affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

## 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
- The data consists of 8 column and 1000 rows.

### 2.1 Import Data and Packages
#### Import Pandas, Numpy, Matplotlib, Seaborn and Warnings Package.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Reading the data as Pandas DataFrame

In [3]:
student_df = pd.read_csv('data/StudentsPerformance.csv')

#### Show top 5 data

In [4]:
student_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### show shape of the data

In [5]:
student_df.shape

(1000, 8)

### 2.2 Dataset information
- gender : sex of students -> male or female
- race/ethnicity : grouped ethnicity of students named as -> A, B, C, D, E
- parental level of education: parent's final education -> from high school to master's degree
- lunch: student's lunch type -> standard, free
- test preparation course : wether student completed the course or not before test
- math score
- reading score
- writing score

## 3) Data checking
- check missing values
- check duplicates
- check data type
- check the number of unique values of each column
- check statistics of data set
- check various categories present in the different categorical column

### 3.1 check missing values

In [8]:
student_df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

**There are no missing values in the data set**

### 3.3 Check all column data types

In [7]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### 3.4 check the number of unique value each column

In [9]:
student_df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

### 3.5 check statistic of data set

In [10]:
student_df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

**insight of basic statistic**
- from average value, all score are near with each other from 66 to 69
- from standard deviation, all score are also near with each other from 14 to 15
from that also we can see how spread the scores data are
- the lowest score for math unfortunately there is 0 but for other subject score is much higher

### 3.6 Show all available categories data

In [6]:
for col in student_df.select_dtypes(include='object'):
    print('These are the value from column',col ,':', student_df[col].unique())
    print()

These are the value from column gender : ['female' 'male']

These are the value from column race/ethnicity : ['group B' 'group C' 'group A' 'group D' 'group E']

These are the value from column parental level of education : ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

These are the value from column lunch : ['standard' 'free/reduced']

These are the value from column test preparation course : ['none' 'completed']