In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from xgboost import XGBRegressor

# Import the csv data with pandas to become DataFrame data

In [2]:
df = pd.read_csv('data/StudentsPerformance.csv')

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Setup the features and target data

In [3]:
features = df.drop(columns=['math score'], axis=1)
target = df['math score']

In [4]:
features.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [5]:
target.head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

# setup for data transformation in features data

In [6]:
num_features = features.select_dtypes(exclude='object').columns
cat_features = features.select_dtypes(include='object').columns

# setup pipeline for data transformation

In [7]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

# setup transformer
num_transformer = StandardScaler()
cat_transformer = OneHotEncoder()

# setup preprocessor
preprocessor = ColumnTransformer(
    [
        ('StandardScaler', num_transformer, num_features),
        ('OneHotEncoder', cat_transformer, cat_features),
    ]
)

In [8]:
features = preprocessor.fit_transform(features)

In [9]:
features

array([[ 0.19399858,  0.39149181,  1.        , ...,  1.        ,
         0.        ,  1.        ],
       [ 1.42747598,  1.31326868,  1.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 1.77010859,  1.64247471,  1.        , ...,  1.        ,
         0.        ,  1.        ],
       ...,
       [ 0.12547206, -0.20107904,  1.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.60515772,  0.58901542,  1.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 1.15336989,  1.18158627,  1.        , ...,  0.        ,
         0.        ,  1.        ]])

# Devide the data into train data and test data

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

# Create function for evaluation after training

In [11]:
def eval_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mse)
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [12]:
models = {
    'Linear Regression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'K-Neighbors Regressor': KNeighborsRegressor(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forrest Regressor': RandomForestRegressor(),
    'XGBRegressor': XGBRegressor(),
    'ADABoost Regressor': AdaBoostRegressor(), 
}
model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Do predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluation on train and test dataset
    model_train_mae, model_train_rmse, model_train_r2 = eval_model(true=y_train, predicted=y_train_pred)

    model_test_mae, model_test_rmse, model_test_r2 = eval_model(true=y_test, predicted=y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('MOdel performance for Train set')
    print('- Root Mean Squared Error {: 4f}'.format(model_train_rmse))
    print('- Mean Absolute Error {: 4f}'.format(model_train_mae))
    print('- R2 Score {: 4f}'.format(model_train_r2))

    print('-'*32)

    print('MOdel performance for Test set')
    print('- Root Mean Squared Error {: 4f}'.format(model_test_rmse))
    print('- Mean Absolute Error {: 4f}'.format(model_test_mae))
    print('- R2 Score {: 4f}'.format(model_test_r2))
    r2_list.append(model_test_r2)

    print('='*32)
    print('\n')

Linear Regression
MOdel performance for Train set
- Root Mean Squared Error  5.323007
- Mean Absolute Error  4.266719
- R2 Score  0.874319
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  5.393925
- Mean Absolute Error  4.214531
- R2 Score  0.880436
================================


Lasso
MOdel performance for Train set
- Root Mean Squared Error  6.593808
- Mean Absolute Error  5.206296
- R2 Score  0.807147
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  6.519688
- Mean Absolute Error  5.157879
- R2 Score  0.825320
================================


Ridge
MOdel performance for Train set
- Root Mean Squared Error  5.323325
- Mean Absolute Error  4.264988
- R2 Score  0.874304
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  5.390387
- Mean Absolute Error  4.211101
- R2 Score  0.880593
================================


K-Neighbors Regressor
MOdel performance for Train set
- Root Mean Squared Error  5.715676
- Mean Absolute Error  4.521250
- R2 Score  0.855093
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  7.253758
- Mean Absolute Error  5.619000
- R2 Score  0.783770
================================


Decision Tree
MOdel performance for Train set
- Root Mean Squared Error  0.279508
- Mean Absolute Error  0.018750
- R2 Score  0.999653
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  8.172209
- Mean Absolute Error  6.565000
- R2 Score  0.725547
================================

/Users/evan/Documents/project/mlproject/venv/lib/python3.8/site-packages/threadpoolctl.py:1019: RuntimeWarning: libc not found. The ctypes module in Python 3.8 is maybe too old for this OS.
  warnings.warn(

Random Forrest Regressor
MOdel performance for Train set
- Root Mean Squared Error  2.282851
- Mean Absolute Error  1.824340
- R2 Score  0.976884
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  6.001816
- Mean Absolute Error  4.659701
- R2 Score  0.851968
================================


XGBRegressor
MOdel performance for Train set
- Root Mean Squared Error  0.908735
- Mean Absolute Error  0.614758
- R2 Score  0.996337
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  6.621583
- Mean Absolute Error  5.070336
- R2 Score  0.819817
================================


ADABoost Regressor
MOdel performance for Train set
- Root Mean Squared Error  5.796679
- Mean Absolute Error  4.763642
- R2 Score  0.850957
--------------------------------
MOdel performance for Test set
- Root Mean Squared Error  6.085015
- Mean Absolute Error  4.742620
- R2 Score  0.847836
================================